extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
include ../../mixins/alert.pug

block main 

   +alert-success(3000)
   +alert-error(3000)
          

   h1 #{pageTitle}

   div(class = "khoi3")
      .card.mb-3
         .card-header Bộ lọc và tìm kiếm  
         .card-body 
            each item in listbutton 
               button(
                  class = item.class,
                  button-status = item.status
               ) #{item.name}

            //- tinh nang tinh kiem . 
            form(id ="form-search")
                  input(
                  type="text"
                  placeholder = "Nhap tu khoa"
                  name ="keyword"
                  value = keyword
               )
                  button(type ="submit") Tìm kiếm  

            //- tinh nang chinh sua status product
            form(
               action="products/change-multi?_method=PATCH"
               method = "POST"
               form-change-multi 
            ) 
               select(name="type" class = "form-control")
                  option(value="active") Hoạt động  
                  option(value ="inactive") Dừng hoạt động
                  option(value = "delete-all") Xóa tất cả
                  option(value = "change-position") thay đổi vị trí 
            input(
               type="type"
               value=""
               name = "ids"
               class = "d-none"
            ) 
            button(type ="submit" class = "btn btn-primary") Áp dụng 
            .product-create
               a(
                  href="/admin/products/create"
                  class = "btn btn-outline-success"
               ) + THêm mới 

         div(sort)
            select(
               class="form-control"
               name ="sort" 
               sort-select
            ) 
               option(value ="position-desc") Vi tri giảm dần 
               option(value ="position-asc") Vi tri giảm dần 
               option(value ="gia-desc") Gia giẩm dàn  
               option(value ="gia-asc") Giá tăng dần
               option(value ="TenSanPham-asc") Tiêu đề  A-Z 
               option(value ="TenSanPham-desc") Tiêu đề Z-A
            button(
               sort-clear
            ) Clear

   .card.mb-3
      .card-header Danh sách sản phẩm 
         .card-body 

            table(class = "table.table-hover.table-sm" checkbox-multi)
               thead   
                  tr  
                     th 
                        input(type ="checkbox" , name = "checkAll")
                     th STT 
                     th hình ảnh
                     th tiêu đề  
                     th giá
                     th vị trí 
                     th trạng thái  
                     th hành động
               tbody
                  each item,index  in product 
                     tr
                        td
                           input(
                              type="checkbox"
                              name ="id"
                              value = item._id 
                           )
                        td #{index + 1}
                        td    
                           img(src=item.hinhAnh, width = "100px" alt="")
                        td #{item.TenSanPham}
                        td #{item.gia}$
                        td
                           input(
                              type = "number"
                              value = item.position 
                              style = "width : 50px "
                              min = "1"
                              name = "position"
                           )
                        td 
                           if(  item.status === "active")
                              button(
                                 href = "javascript:;"
                                 data-status = item.status
                                 data-id = item._id 
                                 class = "btn-info"
                                 button-change-status  
                              ) Hoạt động
                           else 
                              button(
                                 href = "javascript:;"
                                 class = ""
                                 data-status = item.status
                                 data-id = item._id 
                                 button-change-status 
                              ) Dừng hoạt động  
                        td 
                           a(
                              href = `/admin/products/edit/${item._id}`
                              data-id = item._id 
                              class = "btn btn-warning btn-sm"
                           ) Sửa 
                           button(
                              button-delete
                              data-id = item._id  
                              class = "btn btn-danger btn-sm ml-1"
                           ) Xóa 
                           a(
                              href=`/admin/products/detail/${item._id}`
                              class = "btn btn-secondary btn-sm"
                              ) Chi tiết

   div(class = "d-center") 
      ul(class ="pagination")
         li(class = "page-item")
            if(pagination.currentPase > 1)
               li(class = "page-item")
                  button(class = "page-link" 
                     button-page = pagination.currentPase -1  
                  ) Trang trước
            
         - for( let i = 1 ; i <= pagination.soLuongPage ;i++)
            li(class = `page-item ${pagination.currentPase === i ? "mau2" : "" }`)
               button(class = "page-link"
                     button-page = i 
                     ) #{i}

         if(pagination.currentPase < pagination.soLuongPage)
               li(class = "page-item")
                  button(class = "page-link" 
                     button-page = pagination.currentPase +1 
                  ) Trang sau
   //- status . 
   form(
      action=""
      method = "POST"
      id = "from-change-status"
      data-path = "/admin/products/change-status" 
   ) 

   form(
      action=""
      method = "POST"
      id = "from-change-item" 
      data-path = "/admin/products/delete"
   ) 




   script(src="/admin/js/product.js")