extends ../../layouts/default.pug
include ../../mixins/select-tree.pug
include ../../mixins/alert.pug

block main 

   h1( class = "") Chỉnh sửa Danh mục
   
   alert-success(5000)
   alert-error(5000)

   form(
      action=`/admin/products-category/edit/${data._id}?_method=PATCH`
      id = "form-create-products"
      method = "POST"
      enctype = "multipart/form-data"
      )
         div(class = "form-group")
            label(for="title") Tiêu đề
            input(
               type="text"
               class ="form-control"
               id = "title"
               name = "title"
               value = data.title
               required
            )
         div(class = "form-group")
            label(for="parent_id") Danh mục cha 
            select(
               id = "parent_id"
               name = "parent_id"
               class ="form-control"  
            )
               option(value="") --chon danh muc cha-- 
               if( records)
                  //- +select-tree(records , 1 , data.parent_id)

         div(
            class = "form-group"
            upload-image
            )
            label(for="hinhAnh") Ảnh
            input(
               type="file"
               class ="form-control"
               id = "hinhAnh" 
               name = "hinhAnh"
               accept = "image/*"
               value = data.hinhAnh
               upload-image-input
            )
            img(
               src= data.hinhAnh , width = "100px" , height = "100px" 
               upload-image-preview 
               )
         
         div(for ="statusActive form-check form-check-inline")
            input(
               type = "radio"
               class = "form-check-input"
               id = "statusActive"
               name = "status"
               value = "active"
               checked = ( data.status == 'active' ? true  : false)               
            )
            label(for = "statusActive" class = "form-check-label") Hoạt động
         div(for ="statusActive form-check form-check-inline")
            input(
               type = "radio"
               class = "form-check-input"
               id = "statusInactive"
               name = "status"
               value = "inactive"
               checked = ( data.status == 'inactive' ? true  : false) 
            )
            label(for = "statusInActive" class = "form-check-label") Dừng hoạt động

         div(class = "form-group")
            label(for="position") Ví trí
            input(
               type="number"
               class ="form-control"
               id = "position"
               name = "position"
               placeholder = "Tự động tăng"
               min = "1"
               value = data.position
            )

         div(class = "form-group")
            label(for="description") Mô tả
            input(
               type="text"
               class ="form-control"
               id = "description"
               name = "description"
               rows = "5"
            )

         div(class ="form-group")
            button(
               type = "submit"
               class = "btn btn-primary"
            ) Cập nhật 
