extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
   if(role.permissions.includes("accounts_view"))
      +alert-success(5000)
      +alert-error(5000)

      .card.mb-3 
         .card-header  Danh sách tài khoản 
         .card-body 
            .row 
               .col-8  
               .col-4.text-right 
                  a(
                     href="/admin/accounts/create"
                     class ="btn btn-outline-success"
                  ) + Thêm mới

            table(
            class ="table table-hover table-sm"
               )  
                  thead 
                     tr 
                        th STT 
                        th Avatar  
                        th Họ tên  
                        th Phân quyền 
                        th Email 
                        th Trạng thái  
                        th Hành động  
                  tbody  
                     each item ,index in records 
                        tr 
                           td #{index + 1} 
                           td 
                              img(
                                 src= item.avatar 
                                 alt = item.fullName
                                 width = "100px"
                                 height = "auto" 
                              )
                           td #{item.fullName}
                           td #{item.role}
                           td #{item.email}
                           td 
                              if(item.status = "active")
                                 a(
                                    href=""
                                    class = "btn btn-primary"
                                    data-status = "active"
                                    ) Hoạt động
                              else 
                                 a(
                                    href=""
                                    class = "btn btn-danger"
                                    data-status = "inactive"
                                    ) Dừng hoạt động 
                           td 
                              if(role.permissions.includes("accounts_edit"))
                                 a(
                                    href = `/admin/accounts/edit/${item.id}`
                                    data-id = item.id 
                                    class = "btn btn-warning btn-sm"
                                 ) Sửa 
                              if(role.permissions.includes("accounts_delete"))
                                 button(
                                    button-delete
                                    data-id = item.id 
                                    class = "btn btn-danger btn-sm ml-1"
                                 ) Xóa 
                              a(
                                 href=`/admin/account/detail/${item.id}`
                                 class = "btn btn-secondary btn-sm"
                              ) Chi tiết
