mixin table-tree( records , level = 1 )
   each item  , index in records 
      - const prefix = Array(level + 1).join("-- ")
      tr
         td
            input(
               type="checkbox"
               name ="id"
               value = item._id 
            )
         td #{ index + 1 }
         td    
            img(src=item.hinhAnh, width = "100px" alt="")
         td  #{prefix} #{item.title}
         td
            input(
               type = "number"
               value = item.position 
               style = "width : 50px "
               min = "1"
               name = "position"
            )
         td 
            if(  item.status === "active")
               button(
                  class = "btn btn-primary"
                  href = "javascript:;"
                  data-status = item.status
                  data-id = item._id 
                  button-change-status  
               ) Hoạt Động
            else 
               button(
                  href = "javascript:;"
                  data-status = item.status
                  data-id = item._id 
                  button-change-status 
                  class = "btn btn-danger"
               ) Dừng hoạt dộng
         td 
            a(
               href = `/admin/products-category/edit/${item._id}`
               class = "btn btn-warning btn-sm"
               data-id = item._id 
            ) Sửa 
            button(
               button-delete
               data-id = item._id  
               class = "btn btn-danger btn-sm ml-1"
            ) Xóa 
            a(
               href=`/admin/products-category/detail/${item._id}`
               class = "btn btn-secondary btn-sm"
               ) Chi tiết
      if item.children && item.children.length > 0 
         +table-tree(item.children , level + 1 )